@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

html{
  position: relative;
  overflow: auto;
  font-size: 16px;
  background: #f1f3f6;
}

@media screen and (max-width: 768px) {
    .card {
      flex: 1 1 calc(50% - 2rem); /* For smaller screens, 2 per row */
    }
  }
  
  @media screen and (max-width: 465px) {
    .card {
      flex: 1 1 100%; /* Full width on small screens */
    }
  }

.container{
    width: 100vw;
    min-height: 100vh; /* Dynamic height to fit content */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start; /* Push content from the top */
    gap: 1rem;
    background: #f1f3f6;
    padding: 2rem 0; /* Padding to prevent touching the navbar */
    overflow-y: auto;
    margin-top: 80px;
}

.card{
    width: 25rem;
    background: #fff;
    border-radius: 1.5rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.card-img-holder{
  width: 100%;
  height: auto;
  position: relative;
}

.card-img-holder img{
  width: 100%;
  height: auto;
  max-height: 15rem;
  object-fit: cover;
  border: 1px solid gray;
  border-radius: 1.5rem;
}

.blog-title{
  color: #22215B;
  font-size: 1.5rem;
}

.description{
  padding-bottom: 1rem 0;
  color: #22215B80;
  font-size: 1rem;
}


.options{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.options .read-blog{
  font-weight: 600;
  color: #22215B;
  font-size: 1.2rem;
}

.btn{
  font-size: 1rem;
  padding: .4rem 1rem;
  margin-left: 10px;
  border-radius: .5rem;
  font-weight: 400;
  background: #EEF7FE;
  color: #22215B;
  cursor: pointer;
}


.social-icons i {
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s ease;
}

/* Default (unliked) state */
.social-icons .unliked {
  color: gray;
  border-color: black;
}

.social-icons .liked {
  color: rgb(241, 6, 6);
  background-color: transparent;
  border-color: black;
}

.social-icons i:hover {
  color: rgb(78, 73, 73);
}

.read-blog {
   cursor: pointer;
}

.read-blog:hover {
 text-decoration: underline;
}

.likeCount {
  background: none; 
  border: none;
  padding: 0; 
  font: inherit; 
  color: inherit; 
  cursor: pointer; 
}

.likeCount:hover {
  text-decoration: underline; 
  font-size: 25px;
}

.blogHeader {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  width: 100%;
  padding-bottom: 1rem;
}


.social-icons {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  width: 100%;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.username {
  font-weight: 600; /* Makes the username bold */
  font-size: 1rem;
  margin-right: auto; /* Pushes the username to the left */
}

.avatar {
  width: 40px; 
  height: 40px;
  border-radius: 50%; 
  object-fit: cover; 
  margin-right: 10px; 
}

.date{
  display: flex;
  align-items: center; 
  justify-content: flex-end; 
  width: 100%;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.auth-btn{
  cursor: pointer;
  display: flex;
  align-items: center; 
  justify-content: flex-end; 
  width: 100%;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.auth-btn button {
  cursor: pointer;
}

.blog-time{
  font-size: .8rem;
  color: #22215B;
}
