.commentContainer {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    max-width: 600px;
    margin: 2rem auto;
    position: relative;
}

.commentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.commentHeader h3 {
    font-size: 1.5rem;
    color: #333;
}

.closeButton {
    background-color: #ff5c5c;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 1.25rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.closeButton:hover {
    background-color: #ff2d2d;
}

.commentsList {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.commentItem {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    padding: 0.75rem;
    border-radius: 8px;
    margin-bottom: 0.75rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.commentItem:not(:last-child) {
    margin-bottom: 1rem;
}

.commentContent {
    margin-left: 1rem;
    flex-grow: 1;
}

.commentContent p {
    margin-top: 12px;
    font-size: 1rem;
    color: #454343;
}

.commentInputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.commentInput {
    flex-grow: 1;
    padding: 0.75rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-right: 0.5rem;
    font-size: 1rem;
}

.submitButton {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #005f8a;
}

.commentInput:focus {
    outline: none;
    border-color: #008CBA;
}

/* Media Queries for smaller devices */
@media (max-width: 768px) {
    .commentContainer {
        padding: 1rem;
        max-width: 100%;
    }

    .commentHeader h3 {
        font-size: 1.25rem;
    }

    .commentInput {
        font-size: 0.9rem;
        width: 50%;
    }

    .submitButton {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }

    .commentItem {
        padding: 0.2rem;
        flex-direction: column;
        align-items: flex-start;
    }

    
}

@media (max-width: 480px) {
    .commentHeader h3 {
        font-size: 1rem;
    }

    .commentInput {
        font-size: 0.85rem;
        width: 100%;
        margin-right: 0;
    }

    .commentContent p {
        margin-top: 1px;
        margin-bottom: 5px;
        font-size: 0.9rem;
    }

    .submitButton {
        width: 100%;
        margin-top: 0.5rem;
        padding: 0.5rem;
    }

    .commentItem {
        padding: 0.3rem;
    }
}